[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
absl-py = "*"
pyglet = "*"
pycollada = "*"
ipython = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.8"
