[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pygfx = "*"
# pyglet = "*" -- To be added back.
# pycollada = "*" -- To be added back.
ipython = "*"
glfw = "*"
notebook = "*"
jupyter-rfb = "*"
mujoco = "*"
mediapy = "*"
matplotlib = "*"
black = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.10"
